body {
    font-family:"Alfa Slab One, Varela Round";
    background-color: #091540;
    margin: 0;
    padding: 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #1b2cc1;
    color: #abd2fa;
    border-top: 2px solid #1b2cc1;
}
#wrapper {
    width: 80%;
    margin: auto;
    background-color:#7692ff;
    border: 3px solid  #3d518c;
    border-radius: 10px;
    padding: 10px;  
    color: #abd2fa;
}
nav {
    display:flex;
    justify-content: space-evenly;
    background-color: #abd2fa;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #1b2cc1;
}
img {
    margin: auto;
    display: grid;
    flex-direction: row;
    padding: 10px;
    border: #091540 solid 4px;
    border-radius: 10px;
}

#logo{
    display: flex;
    margin: auto;
    padding: 10px;
    height: 50px;
    width: 50px;
} 