body {
    font-family:"Alfa Slab One, Varela Round";
    background-color: #091540;
    margin: 0;
    padding: 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #1b2cc1;
    color: #abd2fa;
    border-top: 2px solid #1b2cc1;
}
#wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color:#7692ff;
    border: 3px solid  #3d518c;
    border-radius: 10px;
    padding: 10px;  
    color: white;
}
nav {
    display:flex;
    margin: auto;
    justify-content: space-evenly;
    font-size: x-large;
    align-items: center;
    background-color: #abd2fa;
    padding: 20px 0;
    border-radius: 10px;
    border: 2px solid #1b2cc1;
}
nav a {
    text-decoration: none;
    color: #091540;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #1b2cc1;
    color: white;
    border-radius: 5px;
}
img {
    margin: center;
   /* display: grid; */
    /* flex-direction: row; */
    border-radius: 25px;
    border:#091540 solid 5px;
}

#logo{
    margin: left 10px;
    height: 80px;
    width: 80px;
    border:#091540 solid 5px;
    border-radius: 25px;
} 